
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1>Contact Information</h1>
        <h4>You can contact with me via:</h4>
        <img src="~/Images/lienhe/facebook.webp">
        <img src="~/Images/lienhe/zalo.png">
        <img src="~/Images/lienhe/telegram.webp">
        <img src="~/Images/lienhe/Instagram.webp">
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <h2>Một số câu hỏi của bạn đã được trả lời ở đây.</h2>
            <h6>Chúng tôi nhận được rất nhiều câu hỏi. Bạn có thể nhận được một số câu trả lời ngay lập tức tại đây.</h6>
        </div>
        <div class="col-6">
            <h4 data-bs-toggle="collapse" data-bs-target="#ch1">Sản phẩm mới mua nhận ở đâu?</h4>
            <div id="ch1" class="collapse">
                Chúng tôi sẽ gửi thông tin mặt hàng về mail của bạn. Ngoài ra bạn có thể xem thông tin ở phần Đơn hàng.
            </div>
            <hr>
            <h4 data-bs-toggle="collapse" data-bs-target="#ch2">Sản phẩm có được bảo hành không?</h4>
            <div id="ch2" class="collapse">
                Tất cả sản phẩm có bảo hành. Thông tin bảo hành bạn có thể đọc ở phần mô tả của sản phẩn.
            </div>
            <hr>
            <h4 data-bs-toggle="collapse" data-bs-target="#ch3">Làm sao để nhận bảo hành?</h4>
            <div id="ch3" class="collapse">
                Nếu sản phẩm bạn mua gặp lỗi và vẫn còn thời hạn bảo hành, bạn chỉ cần nhắn tin cho shop mã đơn hàng cần bảo hành. Chúng tôi sẽ kiểm tra và gửi thông tin bảo hành cho bạn qua mail.
            </div>
            <hr>
        </div>
    </div>
</div>

<style>
    img{
        height: 50px;
    }
</style>

