<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://anhaiqua.somee.com</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>90fd4923-f1c1-46c2-a74f-7970a39101dd</ProjectGuid>
    <publishUrl>ftp://anhaiqua.somee.com/www.anhaiqua.somee.com</publishUrl>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <FtpPassiveMode>true</FtpPassiveMode>
    <FtpSitePath>ftp://155.254.244.40/www.anhaiqua.somee.com</FtpSitePath>
    <UserName>phucnguyen1411</UserName>
    <_SavePWD>true</_SavePWD>
    <_TargetId>FTP</_TargetId>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>