@model MyWebsite.ViewModels.RegisterVM;

@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- Vendor CSS Files -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url('@Url.Content("~/Images/background.jpg")');
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
        }
    </style>
</head>
<body>

    <main>
        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a asp-asp-controller="Home" asp-action="Index" class="d-flex align-items-center w-auto text-decoration-none">
                                    <img src="~/Images/logophone.png" alt="logo">
                                    <h4 class="fw-bold">PSHOP</h4>
                                </a>
                            </div><!-- End Logo -->

                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Create a account for you</h5>
                                        <p class="text-center small">Enter detail information to create account</p>
                                    </div>

                                    <form class="row g-3" asp-action="Register" method="post" >
                                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                                        <div class="mt-2">
                                            <label asp-for="Name" class="form-label"></label>
                                            <input type="text" asp-for="Name" class="form-control">
                                            <span class="text-danger" asp-validation-for="Name"></span>
                                        </div>

                                        <div class="mt-2">
                                            <label asp-for="Username" class="form-label"></label>
                                            <input type="text" asp-for="Username" class="form-control">
                                            <span class="text-danger" asp-validation-for="Username"></span>
                                        </div>

                                        <div class="mt-2">
                                            <label asp-for="Email" class="form-label"></label>
                                            <input class="form-control" asp-for="Email" />
                                            <span class="text-danger" asp-validation-for="Email"></span>
                                        </div>

                                        <div class="mt-2">
                                            <label asp-for="Password" class="form-label"></label>
                                            <input class="form-control" asp-for="Password" />
                                            <span class="text-danger" asp-validation-for="Password"></span>
                                        </div>

                                        <div class="mt-2">
                                            <label asp-for="ConfirmPassword" class="form-label"></label>
                                            <input type="password" class="form-control" asp-for="ConfirmPassword" />
                                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                        </div>

                                        <div class="mt-2">
                                            <div class="form-check">
                                                <input class="form-check-input" name="terms" type="checkbox">
                                                  
                                                <label class="form-check-label" for="acceptTerms">
                                                    Are you agree about
                                                    <a href="#">Privacy Policy</a>
                                                </label>
                                                <div class="invalid-feedback">You must agree before registering.</div>
                                            </div>
                                        </div>
                                        <div class="mt-2">
                                            <input class="btn btn-primary w-100" type="submit" value="Register"></input>
                                        </div>
                                        <div class="mt-2">
                                            <p class="small mb-0">
                                                Already have an account? <a asp-action="Login">Login</a>
                                            </p>
                                        </div>
                                    </form>

                                </div>
                            </div>

                            <div class="fw-bold text-white">
                                Designed by ThanhPhuc
                            </div>


                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main><!-- End #main -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
</body>

</html>